---
interface Props {
  title: string;
  description: string;
  image: string;
  pdf: string;
}

const { title, description, image, pdf } = Astro.props;
---

<a
  href={pdf}
  target="_blank"
  rel="noopener noreferrer"
  class="resource-card"
>
  <img src={image} alt={title} />

  <div class="content">
    <h4>{title}</h4>
    <p>{description}</p>
  </div>
</a>

<style>
.resource-card {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  text-decoration: none;
}

.resource-card img {
  width: 120px;
  height: auto;
}

.resource-card h4 {
  margin: 0;
}
</style>