---
import { asset } from "../utils/asset";

interface Props {
  title: string;
  description: string;
  image: string;
  tags: string[];
  link: string;
  label: string;
}

const {
  title,
  description,
  image,
  tags,
  link,
  label,
} = Astro.props;
---

<article class="resource-card">

  <div class="resource-content">

    <img
      src={asset(image)}
      alt={title}
      class="resource-image"
    />
    <p class="resource-title">{title}</p>
    <p class="resource-description">{description}</p>
    <p class="resource-tags">{tags.join(" · ")}</p>
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class="resource-link"
    >
      {label}
    </a>

  </div>

</article>